body{
  font-family: 'Roboto', sans-serif;
  color: #031C4E;
}

a{
  color: #006AFF;
}

h2{
  text-align: center;
}

h3{
  font-size: 26px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 14px;
  margin-bottom: 0;
}

p{
  color: #5C6A88;
}

h2+p, h1+p{
  font-size: 20px;
}

h5+p{
  font-size: 15px;
}

.gm-navbar{
  margin: 0;
  font-weight: 500;
}

.gm-navbar a{
  color: #031C4E;
}

.gm-navbar .navbar-brand img{
  height: 100%;
}

.gm-navbar #navbar>ul:first-child{
  padding-left: 75px;
}

.gm-navbar .navbar-toggle .icon-bar{
  background-color: #004AFF;
}

.navbar-nav > li > a.signup-btn{
  border:1px solid #006AFF;
  color: #006AFF;
  padding: 5px 15px;
  margin-top: 10px;
}

.jumbotron-bg{
  background-image: url(../img/sfondo-pesci.svg);
  background-size: cover;
  background-position: center bottom;
  padding: 75px 0;
}

h1{
  color: #fff;
}

.gm-jumbotron{
}

.gm-jumbotron p{
  color: #BBCBFC;
  font-weight: 500;
}

.gm-form{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.gm-btn{
  background-color: #579AFF;
  color: #fff;
}

.google-btn{
  box-shadow: 1px 1px 2px #999;
  color: #626262;
  position: relative;
}

.google-btn img{
  height: 20px;
  position: absolute;
  left: 15px;
}

.terms-service{
  padding: 15px;
}

.terms-service a{
  text-decoration: underline;
}

.white-bg{
  padding: 50px 0;
}

.grey-bg{
  background: #F3F5F9;
  text-align: center;
  padding: 50px 30px;
}

.customers-main h4{
  color: #5C6A88;
  text-transform: uppercase;
  font-size: 16px;
}

.customers-img{
  display: inline-block;
  padding: 0 10px;
  width: 49%;
}

.customers-img img{
  width: 100%;
}

.showing-main .heading{
  padding-bottom: 50px;
  text-align: center;
}

.showing-main nav{
  font-size: 18px;
  color: #5C6A88;
  padding-bottom: 15px;
}

.showing-main button{
  background: transparent;
  border: none;
  display: block;
  border-left: 2px solid #ccc;
  padding: 10px;
}

.showing-main button:focus{
  border-left-color: #016AFF;
}

.gm-slider{
  padding: 30px 0;
}

.gm-slider .slider{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.first-slider-main .slider img{
  width: 100%;
}
.first-slider-main .slider p{
  color: #031C4E;
  font-size: 15px;
  padding-top: 15px;
}

.gm-slider i{
  font-size: 50px;
  font-weight: bolder;
  color: #6F7B97;
  display: inline-block;
}

.gm-slider i:last-child{
  color: #031C4E;
}

.slider-menu button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #006AFF;
  padding: 0;
}

.slider-menu button:focus{
  background-color: #006AFF;
}

.features-main [class*="col-"]{
  margin-top: 30px;
}

.features-main img{
  width: 50px;
}

.world-regions{
  background-image: linear-gradient(#0149C6, #001E9A);
  color: #fff;
  padding: 50px 0;
}

.world-regions tr:first-child th,
.world-regions tr:first-child td{
  border-top: 0;
}

.world-regions a{
  color: #fff;
}

.second-slider-main .slider{
  background: #fff;
  /* width: 100%; */
  padding: 30px 0;
}

.second-slider-main .slider img{
  width: 260px;;
}

.second-slider-main .slider h6+p{
  color: #031C4E;
}

.second-slider-main .slider a{
  margin-top: 15px;
}

/* Media Query */
@media screen and (min-width: 768px){
  .customers-img{
    width: 16%;
  }

  .showing-boxes{
    min-height: 200px;
  }
}

@media screen and (min-width: 1200px){
  h1{
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .gm-navbar .navbar-header{
    width: 100%;
  }

  .gm-navbar .navbar-toggle{
    display: block;
  }
}
/* End Media Query */
