body{
  font-family: 'Roboto', sans-serif;
  /* font-weight: 700; */
  color: #031C4E;
}

a{
  color: #006AFF;
}

h2{
  text-align: center;
}

.gr-navbar{
  margin: 0;
}

.gr-navbar a{
  color: #031C4E;
}

.gr-navbar .navbar-brand img{
  height: 100%;
}

.gr-navbar .navbar-toggle .icon-bar{
  background-color: #004AFF;
}

a.signup-btn{
  border:1px solid #006AFF;
  color: #006AFF;
}

.jumbotron-bg{
  background-image: url(../img/sfondo-pesci.svg);
  background-size: cover;
  background-position: center bottom;
  padding: 75px 0;
}

h1{
  color: #fff;
}

.gr-jumbotron{
}

.gr-jumbotron p{
  color: #BBCBFC;
  font-size: 18px;
}

.gr-form{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.gr-btn{
  background-color: #579AFF;
  color: #fff;
}

.google-btn{
  box-shadow: 1px 1px 2px #999;
  color: #626262
}

.terms-service{
  padding: 15px;
  font-weight: normal;
}

.terms-service a{
  text-decoration: underline;
}

.white-bg{
  padding: 50px 0;
}

.grey-bg{
  background: #F3F5F9;
  text-align: center;
  padding: 30px;
}

.customers-main h4{
  color: #6F7B97;
  text-transform: uppercase;
  font-size: 16px;
}

.customers-img{
  display: inline-block;
  padding: 0 10px;
  width: 49%;
}

.customers-img img{
  width: 100%;
}

.showing-main .heading{
  padding-bottom: 50px;
  text-align: center;
}

.showing-main nav{
  padding-bottom: 15px;
}

.showing-main button{
  background: transparent;
  border: none;
  display: block;
  border-left: 2px solid #ccc;
  padding: 10px;
}

.showing-main button:focus{
  border-left-color: #016AFF;
}

.slider{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.slider img{
  width: 100%;
}

.gm-slider i::before{
  font-size: 50px;
  font-weight: bolder;
  color: #6F7B97;
  display: inline-block;
}

.slider-menu button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #006AFF;
  padding: 0;
}

.slider-menu button:focus{
  background-color: #006AFF;
}

.features-main [class*="col-"]{
  margin-top: 30px;
}

/* Media Query */
@media screen and (min-width: 768px){
  .customers-img{
    width: 16%;
  }

  .showing-boxes{
    min-height: 170px;
  }
}

@media screen and (min-width: 1200px){
  h1{
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .gr-navbar .navbar-header{
    width: 100%;
  }

  .gr-navbar .navbar-toggle{
    display: block;
  }
}
/* End Media Query */
